name: Update Remote Postgres

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  update_db:
    runs-on: ubuntu-latest
    steps:
      - name: Install DB driver
        run: |
          python -m pip install --upgrade pip
          pip install psycopg2-binary requests

      - name: Run Update
        env:
          DB_URL: ${{ secrets.DB_URL }}
        run: |
          python - <<EOF
          import os
          import requests
          import psycopg2
          from datetime import date

          downloads = requests.get("https://azuresearch-usnc.nuget.org/query?q=packageid:Ivy").json()['data'][0]['totalDownloads']
          date_to_record = date.today().isoformat()

          conn = psycopg2.connect(os.getenv('DB_URL'))
          cur = conn.cursor()
          cur.execute("""
              CREATE TABLE IF NOT EXISTS nuget_history (
                  id SERIAL PRIMARY KEY,
                  package_name TEXT,
                  downloads BIGINT,
                  date DATE DEFAULT CURRENT_DATE,
                  UNIQUE(package_name, date)
              );
          """)
          cur.execute("""
              INSERT INTO nuget_history (package_name, downloads, date)
              VALUES (%s, %s, %s)
              ON CONFLICT (package_name, date) 
              DO UPDATE SET downloads = EXCLUDED.downloads;
          """, ("Ivy", downloads, date_to_record))
          conn.commit()
          cur.close()
          conn.close()
          print(f"Success! Ivy: {downloads} downloads added to database.")
          EOF

